.cumplouno{
    color: rosybrown;
    font-family: "Allura", sans-serif ;
    font-size: 100px;
 
}

.fondorosa{
    background-color: rosybrown;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.fondobeige{
    background-color: rgba(231, 231, 214, 0.814);
}

.letra{
    color: white !important;
}

.baucum{
    font-family: "Allura", sans-serif ;
    font-size: 55px !important;
   
    
}

.nofaltes{
    color: white !important;
    font-weight: lighter;

}